.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

@media (max-width: 768px) {
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-top: -50px;
    }
}


/* mansory  */

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    width: 220px;
    margin-right: 10px;
    margin-left: 10px;
}


/* kanban */

.kanban-col {
    float: left;
    width: 15%;
    min-width: 100px;
}

.img-wrap {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.img-wrap img {
    width: 18px;
}

.i-hidden {
    display: none;
}

.i-father:hover .i-hidden {
    display: inline;
}

.panel a {
    text-decoration: none;
}

#warp .panel-body {
    padding-bottom: 0px;
}

@media screen and (max-device-width: 480px) {
    .kanban-col {
        float: left;
        width: 50%;
        margin: 10px;
    }
}